.picture {
    height: auto;
    min-height: 10em;
    padding: 12px;
    /*-webkit-filter: grayscale(100%);*/
}

.title {
	font-size: 1.2em;
}

.repolink {
    cursor:'pointer';
}

.reporoles {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:160px;
	font-size: 12px;
}

.repocontainer {
	width: 200px;
	padding: 10px;
}

.map{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
}

.tag {
  text-decoration: underline !important;
  font-weight: bold;
  margin: 0 3px 0 0;
  padding: 0;
}

.legend {
  padding: 1px;
  margin: 1px;
  list-style: none;
}

.legendWrapper {
  margin: 0 0 10px 0;
}

.legendItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100px;
  font-size: 12px;
}